$primary-color: #fcf7df;
$home-font: 'Alice', serif;

body {
	background-image:	   url('../img/elephantbg.jpg');
	background-position:   center center;
	background-repeat:     no-repeat;
	background-attachment: fixed;
	background-size:       cover;

}

h1 {
	font-family: $home-font;
	color: $primary-color;
	text-align: center;
	font-size: 5em;
	margin-top: 30%;
}

a, a:link, a:hover, a:visited, a:active {
	color: inherit;
    text-decoration:none;
}

.site-heading > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: $primary-color;
  visibility: hidden;
  border-radius: 0;
  transform: scaleX(0);
  transition: .30s linear;
}

.site-heading > a:hover:before,
.site-heading > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}


.subheading {
	font-family: $home-font;
	color: $primary-color;
	text-align: center;
	font-size: 1.5em;
	text-shadow: 2px 2px black;

}

p {
	color: black;
	text-align: center;
	font-size: 1em;
	margin: auto;

}

.aboutContent {
	display: none;

}

div.aboutContent {
		margin: 20px;
		width: 50%;
  		background-color: #ffffff;
  		border: 1px solid black;
  		opacity: 0.6;
  		filter: alpha(opacity=60);
}
